.faq {
  border: 2px solid #003db6;
  border-radius: 10px;
  width: calc(100% - 8px);
  padding: 3px 0;
  margin: 5px auto 5px;
  width: auto;
  display: block;
}
.about-us, .blue-div, .cm-patti, .conta, .disclamer, .faq, .ftr-sm, .matka-result, .mrque-div, .paid-gm, .pby-us, .purpel-header, .red-list>div, .satta-result, .satta-text, .slash-text {
  color: #000;
  text-align: center;
  margin-bottom: 8px;
  margin-top: -2px;
  display: block;
  font-size: 20px;
  outline: 4px #fff;
  outline-offset: -9px;
  border: 2px solid #ff182c !important;
  border-style: outset;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
}
.faq .faq-card.aabbcc {
  border-top: 0 solid #dc1f44;
}
.faq .faq-card {
  border-top: 1.5px solid #e0557f;
}
.faq label {
  cursor: pointer;
  text-transform: uppercase;
  color: #0013a5;
  text-shadow: 1px 1px 2px #fff;
  font-weight: 800;
  font-size: 17px;
  padding: 3px 0;
  display: block;
}
.faq label {
  cursor: pointer;
  text-transform: uppercase;
  color: #0013a5;
  text-shadow: 1px 1px 2px #fff;
  font-weight: 800;
  font-size: 17px;
}
.faq label {
  cursor: pointer;
  text-transform: uppercase;
  color: #0013a5;
  text-shadow: 1px 1px 2px #fff;
  font-weight: 800;
  font-size: 17px;
  padding: 3px 0;
  display: block;
}
.faq p {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  font-size: 12px;
  font-style: normal;
  padding: 0 10px 5px;
  text-transform: capitalize;
  opacity: .9;
}
