<div class="faq">
    <div class="faq-card aabbcc">
        <label for="faq1"><span>Q1: What Is Matka Game?</span></label>
        <div class="card-body">
            <p>Ans: Some People Who Play Matka Believe That Matka Is A Game Of Luck While Some People Believe That
                It Is The Game Of Perfect Guess Without Risking A Lot. But According To Us It Is The Game Of Both
                Luck As Well As Perfect Guess. Matka Is A Form Of Gambling Or Betting Where You Can Bet Money And
                Make A Lot Of Money In Return If Your Luck Is With At That Time. The Matka Game Was Started 60 Years
                Ago By Matka King Ratan Khatri. When Ratan Khatri Introduced The Game Of Matka In India It Got An
                Instant Hype In The Indian Market, While Now The Time Has Been Changed And Now It Has Became Popular
                All Over The World.</p>
        </div>
    </div>
    <div class="faq-card">
        <label for="faq2"><span>Q2: What Are The Types Of Playing Matka ?</span>
        </label>
        <div class="card-body">
            <p>Ans: Matka Is Played In Various Forms Such As Single, Jodi And Patti/Panna, Half Sangam And Full
                Sangam As Well. Matka Is The Only Game Where You Can Earn Huge Amount Of Money In Very Short Time By
                Just Investing A Small Amount.
                <br>Single Means - Open And Close Digit Individually It Is Also Called Single Ank.
                <br>Jodi Means - Both Digits Open And Close Digit Is Combined To Form A Jodi.
                <br>Patti/Panna Means - When An Open Digit Or Close Digit Is Declared In Matka It Is Declared By 3
                Digit Called Patti From Bets.
            </p>
        </div>
    </div>
    <div class="faq-card">
        <label for="faq3"><span>Q3: How To Play Satta Matka ?</span></label>
        <div class="card-body">
            <p>Ans: You Can Play Satta Matka Online Or Offline You Can Also Play On Daily Satta King, And On Our GOA
                MATKA Android App Available On Website Vidharbhasatta.in . Matka Is Generally A Game That Includes
                Speculating Numbers From 0-9 Let's Suppose, 4,5,6 Would Be Your First Choice. These Three Digits Are
                Then Added Up (4 + 5 + 6) And A Final Figure Is Given. In This Demonstration, It Is 15. You Have To
                Choose The Last One Number. It Is 5. So, First Draw Would Be 4,5,6 *5.
                <br>A Second Set Of Numbers Is Also Drawn In The Same Way As First Draw Did.
                <br>So The Final Card Would Look Like This: 4,5,6, *5 X 2,3,6 *1. Just Practice And Proper
                Dedication Is Required And One Is Ready To Become The Ace Of Satta Matka.
            </p>
        </div>
    </div>
    <div class="faq-card">
        <label for="faq4"><span>Q4: How To Win In Matka Game ? </span></label>
        <div class="card-body">
            <p>Ans: Matka Can Be Won By Getting Perfect Guess Of Matka Professors And Viwdharbhasatta.in . You Can Play Safely By
                Playing 3 Or 4 Digit Daily And Get These Digits From Our Website That We Publish On Our Free Game
                Page. For Winning In Matka, You Have Got Numerous Rate Payouts, Starting From 9/1 To 999/1. You Have
                Choice To Bet On The Opportunity Of All Numbers Coming Up To The Last, First Or Either Another Kind
                Of Bet Granted By The Bookie. Due To This, It May Be A
                Wealthy Game Because Of The Payout Multiples, But The Satta Matka Is Hardly A Game Of Chance And
                Therefore Cannot Be Disappointed.
            </p>
        </div>
    </div>
    <div class="faq-card">
        <label for="faq5"><span> Q5: What Is The History Of Matka ?</span></label>
        <div class="card-body">
            <p> Ans: Satta Matka Started After India Got Independent. At Beginning, It Was A Betting On The Opening
                Rates And The Closing Rates Of Cotton From Newyork Exchange To Bombay Exchange. In 1961, Newyork
                Stock Exchange Stopped This Practice. So, The New Method Started In Which Slips Used To Put Inside
                The Jar Or The Numbers Were Removed. In That Age The Clay Pot Was Used To Remove The Number, So It
                Was Called The Satta Matka. Now In This Modern Age, Many Types Of Satta Instruments Are Now Played
                Online. In 1961 - 60 Years Ago Matka Was Founded And Started By Ratan Khatri, At That Time Ratan
                Khatri Entitled The Game Of Matka As Worli Matka. And It Reached Its Peak On 1980s And 1990s. Since
                Then Matka Is Growing Very Fast.</p>
        </div>
    </div>
    <div class="faq-card">
        <label for="faq6"><span> Q6: What Is The Formula For Satta Calculation?</span></label>
        <div class="card-body">
            <p> Ans: Satta Matka May Be A Number Of Game Examining How Excellent You're At Guessing The Winning
                Number. During This Numeration System, You'll Guess From Spread Of Types Like Open, Close, Jodi,
                Panel, Sangam, Jackpot. It Needs A Calculation For Getting An Approx Number From Digits 0–100. If
                Calculation Got Right Then That Person Could Win 90 Times Extra Money That Placed On The Specified
                Number. Although The Formula Is Not A Prerequisite, Knowing It Will Give You A Fair Idea About How
                The Lottery Works. Every Matka Game Happens Twice On The Day It Is Organized. In Each Of These Two
                Bidding Timings, The Result Would Depend On Three Playing Cards (known as pana) Or Numbers That Are
                Drawn Randomly. A Deck Of 52 Cards Minus The Kings, Queens And Jacks Is Used For Matka Gambling.
                <br><br>Aces Are Valued At 1.
                <br>2 Through 9 Are Taken At Face Value.
                <br>10 Is Valued At 0.
            </p>
        </div>
    </div>
</div>
