<div class="page">
  <div class="live_starline_heading sl_tb_h sl_tb_28">
    <h2 class="heading_title6 fw-bolder logo-text ">VIDHARBHA LIVE STAR LINE RESULT</h2>
    <div style="font-size: 20px">तारीख {{this.formattedDate}}  </div>
  </div>
  <div class="cube-container ">
    <div class="cube">
      <div class="face front box-face"> <div class="container">
        <div class="text-3d ">Vidharbha</div>
      </div></div>
      <div class="face back box-face">
        <div class="container">
          <h2 class="text-3d">{{lastResult}}</h2>
        </div>


      </div>
      <div class="face left box-face" >Live</div>
      <div class="face right box-face">{{resultTime}}</div>
      <div class="face top box-face" >Top</div>
      <div class="face bottom box-face">Bottom</div>
    </div>
  </div>
</div>
