<div class="container mb-2" >
  <div class="d-flex flex-column">
    <div  class="heading border-rounded p-3 m-1 yellowbg animated"  >FREE GAME ZONE OPEN-CLOSE</div>
      <div  class=" border-rounded p-3 yellowbg m-1 animated"  >✔DATE:↬ : {{ todaysDate }} ↫ <br>
      FREE GUESSING DAILY <br>
      OPEN TO CLOSE FIX ANK</div>
  </div>
    <div class="row row-gap-2">
        <div class="col-6">
            <div class="fg-div " >
            <div class="fg-c1">
                <p class="fg-p2">↪ MADHUR  MORNING
                </p>
                <p class="fg-p4">
                    {{mMadhurDay?.line1}}
                </p>
                <p class="fg-p4">                    {{mMadhurDay?.line2}}

                </p>
                <p class="fg-p4">                    {{mMadhurDay?.line3}}

                </p>
            </div>
            </div>
        </div>

        <div class="col-6">
            <div class="fg-div">
                <div class="fg-c1">
                    <p class="fg-p2">↪ TIMEBAZAAR
                    </p>
                    <p class="fg-p4">
                        {{mTimebazaar?.line1}}
                    </p>
                    <p class="fg-p4">                    {{mTimebazaar?.line2}}

                    </p>
                    <p class="fg-p4">                    {{mTimebazaar?.line3}}

                    </p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="fg-div">
                <div class="fg-c1">
                    <p class="fg-p2">↪ MILAN DAY
                    </p>
                    <p class="fg-p4">
                        {{mMilanDay?.line1}}
                    </p>
                    <p class="fg-p4">                    {{mMilanDay?.line2}}

                    </p>
                    <p class="fg-p4">                    {{mMilanDay?.line3}}

                    </p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="fg-div">
                <div class="fg-c1">
                    <p class="fg-p2">↪ KALYAN
                    </p>
                    <p class="fg-p4">
                        {{mKalyan?.line1}}
                    </p>
                    <p class="fg-p4">                    {{mKalyan?.line2}}

                    </p>
                    <p class="fg-p4">                    {{mKalyan?.line3}}

                    </p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="fg-div">
                <div class="fg-c1">
                    <p class="fg-p2">↪ MADHUR NIGHT

                    </p>
                    <p class="fg-p4">
                        {{mMadhurNight?.line1}}
                    </p>
                    <p class="fg-p4">                    {{mMadhurNight?.line2}}

                    </p>
                    <p class="fg-p4">                    {{mMadhurNight?.line3}}

                    </p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="fg-div">
                <div class="fg-c1">
                    <p class="fg-p2">↪ MILAN NIGHT

                    </p>
                    <p class="fg-p4">
                        {{mMilanNight?.line1}}
                    </p>
                    <p class="fg-p4">                    {{mMilanNight?.line2}}

                    </p>
                    <p class="fg-p4">                    {{mMilanNight?.line3}}

                    </p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="fg-div">
                <div class="fg-c1">
                    <p class="fg-p2">↪ MAIN BAZAAR

                    </p>
                    <p class="fg-p4">
                        {{mMainBazaar?.line1}}
                    </p>
                    <p class="fg-p4">                    {{mMainBazaar?.line2}}

                    </p>
                    <p class="fg-p4">                    {{mMainBazaar?.line3}}

                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="fg-div">
                <div class="fg-c1">
                    <p class="fg-p2">↪ NOTICE!!

                    </p>
                    <p class="fg-p4">
                        {{mNotice?.line1}}
                    </p>
                    <p class="fg-p4">                    {{mNotice?.line2}}

                    </p>
                    <p class="fg-p4">                    {{mNotice?.line3}}

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
