<div class="container">

    <div class="logo">
        <p class="text-center logo-text inline">  Satta150  </p>

    </div>



    <div class="">
        <div class="mt-2">
            <div class="">
                <div class="">
                    <div class=""></div>
                    <div class="">
                        <div class="text-center">
                            <div class="border-rounded">
                                <b><h3 class="h3-header pt-3 text-dark"></h3><h1>PANA COUNT CHART</h1>


                                    <div class="pnl-count-chart-div">
                                        <h2 class="pnl-count-chart-h">Panel Count Chart</h2>
                                        <p class="pnl-count-chart-p">Hello everyone, welcome all the Satta Matka enthusiasts to our website. So today we will try to explain the Panel Count Chart. It is a very good chart, also called Panna Count Chart, and Panel Count Chart are similar terms, you can say they are the same terms.</p>
                                        <p class="pnl-count-chart-p">So basically the concept is the sum of three digits of the panel is called Panna Count For example if your three digits are 1, 2, 3 you total them 1 plus 2 plus 3 so it will become 6, and if the sum is more than 9 in two digits Like 9, 5, 6 is your panel and the result of the sum of these three digits is 15, and then 15 together if we give 1, 5, 6 then 6 If we give if we plus 1, 5 so it will be 6 then 6.</p>
                                        <p class="pnl-count-chart-p">The result will be called count. Note that the count is a different equation from the total. So, it will help you understand the count and total exclusively. So, if we come to the below Chart, we have some data points differentiated with some header lines, and with some separator lines.</p>
                                        <p class="pnl-count-chart-p">First, we have count 0 which is double 0, then we have count 1, and we have five sets of three-digit numbers. In the first example, you can see 118, 127, 136, 145, 190, and so on in all five rows.</p>
                                        <p class="pnl-count-chart-p">Then we have count number 2, and in this, we also have five rows of data. Five sets of three-digit numbers, and then similarly till the bottom. But sometimes you can see only three sets of three digits. </p>
                                    </div>

                                    <br>पाना काउंट चार्ट पैनल काउंट चार्ट <br>
                                    पाने के तीनो अंको के जोड़ को पाना काउंट कहते हैं <br>
                                    जैसे 1+2+3=6<br>
                                    और अगर जोड़ 9 से ज्यादा आये 2 अंको में <br>
                                    जैसे 4+5+6=15 तो 15 को भी आपस में जोड़ देंगे <br>
                                    1+5=6 तो 6 इस पाने का पाना काउंट कहलायेगा <br>
                                    नोट - कॉउंट टोटल से अलग समीकरण है </b>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="mfnc-ul border-rounded text-center pl-0 mt-2">
            <h4 class="violet-bg mt-2 text-light pt-2 pb-2 ml-2 mr-2">COUNT 0 :</h4>
            <li class="list-group-item bg-transparent ">
                <a href="#" class="">
                    <div class="">
                        <h2 class=""><span class=""></span></h2>
                        <h5>00</h5>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mfnc-ul border-rounded text-center pl-0 mt-2">
            <h4 class="violet-bg mt-2 text-light pt-2 pb-2 ml-2 mr-2">COUNT 1 :</h4>
            <li class="list-group-item bg-transparent ">
                <a href="#" class="">
                    <div class="">
                        <h2 class=""><span class=""></span></h2>
                        <h5>118, 127, 136, 145, 190,</h5><hr>
                        <h5>226, 235, 244, 280, 334,</h5><hr>
                        <h5>370, 460, 550, 100, 777,</h5><hr>
                        <h5>199, 289, 379, 388, 469,</h5><hr>
                        <h5>478, 559, 568, 577, 667</h5>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mfnc-ul border-rounded text-center pl-0 mt-2">
            <h4 class="violet-bg mt-2 text-light pt-2 pb-2 ml-2 mr-2">COUNT 2 :</h4>
            <li class="list-group-item bg-transparent ">
                <a href="#" class="">
                    <div class="">
                        <h2 class=""><span class=""></span></h2>
                        <h5>299, 389, 479, 488, 569,</h5><hr>
                        <h5>578, 668, 677, 119, 128,</h5><hr>
                        <h5>137, 146, 155, 227, 236,</h5><hr>
                        <h5>245, 290, 335, 344, 380,</h5><hr>
                        <h5>470, 560, 110, 200, 444</h5>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mfnc-ul border-rounded text-center pl-0 mt-2">
            <h4 class="violet-bg mt-2 text-light pt-2 pb-2 ml-2 mr-2">COUNT 3 :</h4>
            <li class="list-group-item bg-transparent ">
                <a href="#" class="">
                    <div class="">
                        <h2 class=""><span class=""></span></h2>
                        <h5>399, 489, 579, 588, 669,</h5><hr>
                        <h5>678, 129, 138, 147, 156,</h5><hr>
                        <h5>228, 237, 246, 255, 336,</h5><hr>
                        <h5>345, 390, 480, 570, 660,</h5><hr>
                        <h5>120, 300, 111</h5>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mfnc-ul border-rounded text-center pl-0 mt-2">
            <h4 class="violet-bg mt-2 text-light pt-2 pb-2 ml-2 mr-2">COUNT 4 :</h4>
            <li class="list-group-item bg-transparent ">
                <a href="#" class="">
                    <div class="">
                        <h2 class=""><span class=""></span></h2>
                        <h5>499, 589, 679, 688, 778,</h5><hr>
                        <h5>139, 148, 157, 166, 229,</h5><hr>
                        <h5>238, 247, 256, 337, 346,</h5><hr>
                        <h5>355, 445, 490, 580, 670,</h5><hr>
                        <h5>112, 130, 220, 400, 888</h5>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mfnc-ul border-rounded text-center pl-0 mt-2">
            <h4 class="violet-bg mt-2 text-light pt-2 pb-2 ml-2 mr-2">COUNT 5 :</h4>
            <li class="list-group-item bg-transparent ">
                <a href="#" class="">
                    <div class="">
                        <h2 class=""><span class=""></span></h2>
                        <h5>599, 689, 779, 788, 149,</h5><hr>
                        <h5>158, 167, 239, 248, 257,</h5><hr>
                        <h5>266, 338, 347, 356, 446,</h5><hr>
                        <h5>455, 590, 680, 770, 113,</h5><hr>
                        <h5>122, 140, 230, 500, 555</h5>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mfnc-ul border-rounded text-center pl-0 mt-2">
            <h4 class="violet-bg mt-2 text-light pt-2 pb-2 ml-2 mr-2">COUNT 6 :</h4>
            <li class="list-group-item bg-transparent ">
                <a href="#" class="">
                    <div class="">
                        <h2 class=""><span class=""></span></h2>
                        <h5>699, 789, 159, 168, 177,</h5><hr>
                        <h5>249, 258, 267, 339, 348,</h5><hr>
                        <h5>357, 366, 447, 456, 690,</h5><hr>
                        <h5>780, 114, 123, 150, 240,</h5><hr>
                        <h5>330, 600, 222</h5>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mfnc-ul border-rounded text-center pl-0 mt-2">
            <h4 class="violet-bg mt-2 text-light pt-2 pb-2 ml-2 mr-2">COUNT 7 :</h4>
            <li class="list-group-item bg-transparent ">
                <a href="#" class="">
                    <div class="">
                        <h2 class=""><span class=""></span></h2>
                        <h5>799, 889, 169, 178, 259,</h5><hr>
                        <h5>268, 277, 349, 358, 367,</h5><hr>
                        <h5>448, 457, 466, 556, 790,</h5><hr>
                        <h5>880, 115, 124, 133, 160,</h5><hr>
                        <h5>223, 250, 340, 700, 999</h5>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mfnc-ul border-rounded text-center pl-0 mt-2">
            <h4 class="violet-bg mt-2 text-light pt-2 pb-2 ml-2 mr-2">COUNT 8 :</h4>
            <li class="list-group-item bg-transparent ">
                <a href="#" class="">
                    <div class="">
                        <h2 class=""><span class=""></span></h2>
                        <h5>899, 179, 188, 269, 278,</h5><hr>
                        <h5>359, 368, 377, 449, 458,</h5><hr>
                        <h5>467, 557, 566, 890, 116,</h5><hr>
                        <h5>125, 134, 170, 224, 233,</h5><hr>
                        <h5>260, 350, 440, 800, 666</h5>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="mfnc-ul border-rounded text-center pl-0 mt-2">
            <h4 class="violet-bg mt-2 text-light pt-2 pb-2 ml-2 mr-2">COUNT 9 :</h4>
            <li class="list-group-item bg-transparent ">
                <a href="#" class="">
                    <div class="">
                        <h2 class=""><span class=""></span></h2>
                        <h5>189, 279, 288, 369, 378,</h5><hr>
                        <h5>459, 468, 477, 558, 567,</h5><hr>
                        <h5>990, 117, 126, 135, 144,</h5><hr>
                        <h5>180, 225, 234, 270, 360,</h5><hr>
                        <h5>450, 900, 333</h5>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
