<div class="container">

    <div class="logo">
        <p class="text-center logo-text inline">  Satta150  </p>

    </div>


    <div class="fav-cards">
        <h1>KHATRI FAVORITE CARDS</h1>

        <div class="all-22-card-div">
            <h2 class="all-22-card-h">All 22 Card Panna Panel Patti Chart</h2>
            <p class="all-22-card-p">Welcome back everyone to our website. So, today we will explore All 22 cards for the Panna Panel Patti Chart. So welcome to this page of dpboss.com. It is Khatri's favorite card. So, they are a simple table without any cells. We have serials from 1 to 9 and then 0 in the last.</p>
            <p class="all-22-card-p">We have 4 sets of 3-digit numbers in each row and each serial has 2 rows. So, we have 8 sets of 3-digit numbers. For the first serial, I will tell you there are 128, 137, 236, 678, 245, 290, 470, 579 and so on till 9.</p>
            <p class="all-22-card-p">Then we have the next row separator, and here we have all 22 Satta Matka cards exclusively. You can check out all the numbers written here, and everything is presented in a very good manner, so everyone can read it and understand it clearly.</p>
            <p class="all-22-card-p">So, it's all about if you are a Khatri lover and you want to know more about all 22 Satta Matka cards then you can check out this page and you will get some useful insights from here.</p>
            <p class="all-22-card-p">Players will learn about these 22 cards, and they are going to help you understand the numbers, patterns, lucky numbers, and combinations of the numbers in a more detailed view.</p>
            <p class="all-22-card-p">Players can also get to know some exclusive details of Satta Matka concepts, and this will help them improve their learning. So, I hope you will check it out and you will learn something new from it. Thank you.</p>
        </div>


        <div class="aa">
            <div>
                <strong>1</strong>
                <div>
                    <p>128 137 236 678</p>
                    <p>245 290 470 579</p>
                </div>
            </div>
            <div>
                <strong>2</strong>
                <div>
                    <p>129 147 246 679</p>
                    <p>345 390 480 589</p>
                </div>
            </div>
            <div>
                <strong>3</strong>
                <div>
                    <p>120 157 256 670</p>
                    <p>139 148 346 689</p>
                </div>
            </div>
            <div>
                <strong>4</strong>
                <div>
                    <p>130 158 356 680</p>
                    <p>239 248 347 789</p>
                </div>
            </div>
            <div>
                <strong>5</strong>
                <div>
                    <p>140 159 456 690</p>
                    <p>230 258 357 780</p>
                </div>
            </div>
            <div>
                <strong>6</strong>
                <div>
                    <p>123 178 268 367</p>
                    <p>240 259 457 790</p>
                </div>
            </div>
            <div>
                <strong>7</strong>
                <div>
                    <p>124 179 269 467</p>
                    <p>340 359 458 890</p>
                </div>
            </div>
            <div>
                <strong>8</strong>
                <div>
                    <p>125 170 260 567</p>
                    <p>134 189 369 468</p>
                </div>
            </div>
            <div>
                <strong>9</strong>
                <div>
                    <p>135 180 360 568</p>
                    <p>234 289 379 478</p>
                </div>
            </div>
            <div>
                <strong>0</strong>
                <div>
                    <p>145 190 460 569</p>
                    <p>235 280 370 578</p>
                </div>
            </div>
        </div>
    </div>
    <h4 class="seo-heading">All 22 Satta Matka Card</h4>

    <section class="border-rounded">
    <div class="bb">
        <div>
            <strong>777 !!-1-!! 100</strong>
            <div>
                <p>128-137-146-236-245- 290-380-470-489-560</p>
                <p>678-579-119-155-227- 335-344-399-588-669</p>
            </div>
        </div>
        <div>
            <strong>444 !!-2-!! 200</strong>
            <div>
                <p>129-138-147-156-237- 246-345-390-480-570</p>
                <p>679-589-110-228-255- 336-499-660-688-778</p>
            </div>
        </div>
        <div>
            <strong>111 !!-3-!! 300</strong>
            <div>
                <p>120-139-148-157-238- 247-256-346-490-580</p>
                <p>670-689-166-229-337- 355-445-599-779-788</p>
            </div>
        </div>
        <div>
            <strong>888 !!-4-!! 400</strong>
            <div>
                <p>130-149-158-167-239- 248-257-347-356-590</p>
                <p>680-789-112-220-266- 338-446-455-699-770</p>
            </div>
        </div>
        <div>
            <strong>555 !!-5-!! 500</strong>
            <div>
                <p>140-159-168-230-249- 258-267-348-357-456</p>
                <p>690-780-113-122-177- 339-366-447-799-889</p>
            </div>
        </div>
        <div>
            <strong>222 !!-6-!! 600</strong>
            <div>
                <p>123-150-169-178-240- 259-268-349-358-457</p>
                <p>367-790-114-277-330- 448-466-556-880-899</p>
            </div>
        </div>
        <div>
            <strong>999 !!-7-!! 700</strong>
            <div>
                <p>124-160-179-250-269- 278-340-359-368-458</p>
                <p>467-890-115-133-188- 223-377-449-557-566</p>
            </div>
        </div>
        <div>
            <strong>666 !!-8-!! 800</strong>
            <div>
                <p>125-134-170-189-260- 279-350-369-378-459</p>
                <p>567-468-116-224-233- 288-440-477-558-990</p>
            </div>
        </div>
        <div>
            <strong>333 !!-9-!! 900</strong>
            <div>
                <p>126-135-180-234-270- 289-360-379-450-469</p>
                <p>117-478-568-144-199- 225-388-559-577-667</p>
            </div>
        </div>
        <div>
            <strong>000 !!-0-!! 550</strong>
            <div>
                <p>127-136-145-190-235-280 370-389-460-479</p>
                <p>569-578-118-226-244-299-334-488-668-677</p>
            </div>
        </div>
    </div>
</section>

</div>
