<div class="container">
    <div class="logo">
        <p class="text-center logo-text inline">  Satta150  </p>

    </div>


    <div class="">
        <div class="mt-2">
            <div class="text-center">
                <div class="">
                    <div class=""></div>
                    <div class="">
                        <div class="">
                            <div class="border-rounded">
                                <b><h1 class="h1-header pt-3">जोड़ी फेमिली चार्ट</h1></b>

                                <h2 class="">मटका जोड़ी फेमिली चार्ट </h2>
                                <p class="font-italic">जोड़ियों को उनके कट के आधार पर 11 समूहों में बांटा जा सकता है जिसे मटका जोड़ी की फेमिली कहते है
                                    एक ही फेमिली की किसी जोड़ी को सम्बंधित जोड़ी और लगभग एक जैसा माना जाता है
                                    मटका छेत्र  में यह कहा और माना जाता है की जोड़ियों को उनके फॅमिली जोड़ी के हिसाब से बनाया जाता है
                                    उदाहरण के लिए - आज 31 बनने बाला है और सायद ये 86 बन जाये या फिर 13 की फॅमिली की कोई भी जोड़ी बन जाये
                                    जोड़ी का कट सिर्फ उनकी फॅमिली जोड़ी में से बन सकता है </p>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <h4 class="violet-bg mt-2 text-light pt-2 pb-2 ml-2 mr-2" style="color:white;">MATKA JODI FAMILY CHART</h4>

        <div class="jd-chart-fml-mtk-div">
            <h2 class="jd-chart-fml-mtk-h">Jodi Chart Family Matka</h2>
            <p class="jd-chart-fml-mtk-p">Today we will explain the Jodi Chart Family Matka, it is also called the Jodi Family Chart or Matka Jodi Family Chart. So, in this chart, we will talk about pairs, and we will tell you that the pairs can be divided into 11 groups based on their cut, which is called their family, or you can also say their Matka pair.</p>
            <p class="jd-chart-fml-mtk-p">Any pair of the same family is considered a relative pair, and it is almost the same with neighbors or relatives. In the realm of Satta Matka, it is very often said and believed that the pairs are renamed after they are made according to the family pair. So, let's understand it with an example.</p>
            <p class="jd-chart-fml-mtk-p">Suppose, today, the pair is going to be 33, and maybe it will become 86 or any pair from the family or 13 can be cut, the cut of the pair can be made only their family pair. I hope you understand this logic.</p>
            <p class="jd-chart-fml-mtk-p">Now, let's understand some real-time data on the chart to enhance your understanding. So if you come to the chart, there is only a single column and the content is centered, the header says Matka Jodi Family Chart, well you can see 12 family and there are some numbers, they are 8 numbers, they are 8 sets of 2 digit numbers, then you can say 13 family, you can see 13 family, 14 family, 15 and then 23, 24, 25, 34, 35, 45, half red, full red and so on.</p>
            <p class="jd-chart-fml-mtk-p">So, all these are very good for understanding and improving your knowledge of the Jodi family chart and enhancing your gameplay every day to win a strong game of Satta Matka.</p>
        </div>

        <ul class="mb-3 text-center p-0 border-rounded mt-3 mfnc-ul" style="padding: 10px;">

            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">12 FAMILY</span></p>
                        <strong><strong>12,17,21,26,62,67,71,76 </strong></strong>

                    </div>
                </a>
            </li>
            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">13 FAMILY</span></p>
                        <strong><strong>13,18,31,36,63,68,81,86 </strong></strong>

                    </div>
                </a>
            </li>
            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">14 FAMILY</span></p>
                        <strong><strong>14,19,41,46,64,69,91,96</strong></strong>

                    </div>
                </a>
            </li>
            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">15 FAMILY</span></p>
                        <strong><strong>01,06,10,15,51,56,60,65</strong></strong>

                    </div>
                </a>
            </li>
            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">23 FAMILY</span></p>
                        <strong><strong>23,28,32,37,73,78,82,87</strong></strong>

                    </div>
                </a>
            </li>
            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">24 FAMILY</span></p>
                        <strong><strong>24,29,42,47,74,79,92,97</strong></strong>

                    </div>
                </a>
            </li>
            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">25 FAMILY</span></p>
                        <strong><strong>02,07,20,25,52,57,70,75</strong></strong>

                    </div>
                </a>
            </li>
            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">34 FAMILY</span></p>
                        <strong><strong>34,39,43,48,84,89,93,98</strong></strong>

                    </div>
                </a>
            </li>
            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">35 FAMILY</span></p>
                        <strong><strong>03,08,30,35,53,58,80,85</strong></strong>

                    </div>
                </a>
            </li>
            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">45 FAMILY</span></p>
                        <strong><strong>04,09,40,45,54,59,90,95</strong></strong>

                    </div>
                </a>
            </li>
            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">HALF RED</span></p>
                        <strong><strong>05,16,27,38,49,50,61,72,83,94 </strong></strong>

                    </div>
                </a>
            </li>
            <li class="list-group-item bg-transparent border-b-v">
                <a href="#" class="media shadow-15">
                    <div class="media-body">
                        <p class="title-number-carousel color-primary"><span class="">FULL RED</span></p>
                        <strong><strong>00,11,22,33,44,55,66,77,88,99 </strong></strong>

                    </div>
                </a>
            </li>

        </ul>


    </div>
</div>
