.about-us, .blue-div, .cm-patti, .conta, .disclamer, .faq, .ftr-sm, .matka-result, .mrque-div, .paid-gm, .pby-us, .purpel-header, .red-list>div, .satta-result, .satta-text, .slash-text {
  color: #000;
  text-align: center;
  margin-bottom: 8px;
  margin-top: -2px;
  padding: 10px;
  display: block;
  font-size: 12px;
  outline: 4px #fff;
  outline-offset: -9px;
  border: 2px solid #5f8afe !important;
  border-style: outset;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
}
